{% extends 'index.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
        <img src="{% static 'Abstract ironman.jpg' %}" class="img-fluid" alt="Iron_man images" />
    </div>
    <div class="col-md-3">
        <img src="{% static 'UltrA  MAX series.jpg' %}" class="img-fluid" alt="Iron_man images" />
    </div>
    <div class="col-md-3">
        <img src="{% static 'Abstract ironman.jpg' %}" class="img-fluid" alt="Iron_man images" />
    </div>
    <div class="col-md-3">
        <img src="{% static 'UltrA  MAX series.jpg' %}" class="img-fluid" alt="Iron_man images" />
    </div>
  </div>
</div>
{% endblock content %}
