{% extends 'index.html' %}

{% block content %}
<h1 style="text-align: center; margin-top: 1rem;">Login Forms</h1>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address </label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your MailId" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
    